/* GRID JS */
.gridjs-search {
  background-color: var(--light);
  margin-bottom: 20px;
  width: 100%;

  /* width: 20vw;
  max-width: 365px; */

  /* position: fixed; */
}

.gridjs-search > input {
  color: var(--mid-dark);
  height: 29px;
  width: 250px;
  border: 1px solid var(--toggle-border);
  border-radius: 2.5px;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 100;
  padding-left: 10px;
}

.gridjs-search > input::placeholder {
  font-size: 11px;
  color: var(--mid-dark);
}

.gridjs-wrapper {
  height: 100%;
}

.gridjs-wrapper button {
  background-color: transparent;
  border: none;
}

.gridjs-table {
  border-spacing: 0;
  width: 100%;
  color: var(--toggle-txt-2);
}

.gridjs-tbody .gridjs-tr:hover {
  background-color: var(--toggle-hover);
  transition: 300ms;
}

.gridjs-thead {
  text-align: left;
  position: sticky;
  top: 50px;
  background-color: var(--toggle-bg-1);

}

.gridjs-th,
.gridjs-td {
  padding-left: 15px;
  padding-right: 15px;
}

.gridjs-th {
  color: var(--theme-primary);
  padding-top: 5px;
  text-transform: uppercase;
  vertical-align: top;
}

.gridjs-td {
  padding-top: 10px;
  padding-bottom: 10px;
  text-overflow: ellipsis;
}

.gridjs-th:hover {
  background-color: rgb(0 0 0 / 5%);
  transition: 300ms;
}

button.gridQueueButton {
  display: flex;
  background-color: var(--mid-dark);
  color: var(--light);
  margin: 0;
  margin-left: 13px;
  border-radius: 2.5px;
}

button.gridQueueButton:hover {
  background-color: var(--theme-primary);
}

button.gridDeleteButton {
    display: flex;
    background-color: var(--mid-dark);
    color: var(--light);
    margin: 0;
    margin-left: 17px;
    border-radius: 2.5px;
}

button.gridDeleteButton:hover {
    background-color: var(--theme-primary);
}

input.gridjs-input {
    position: fixed;
    left: 260px;
    top: 187px;

    background-color: var(--toggle-bg-3);
}