/*main will be a column flexbox*/
.home {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/*collection which will show random selections from each category*/
.home-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.home-listing {
    margin-left: 3vh;
    margin-right: 3vh;
}

.home-listing > img {
    border-radius: 10px;
    max-width: 29vh;
    height: currentWidth;
}


