/* MAIN CONTAINER */
#main-container {
  color: var(--dark);
  overflow-y: auto;
}

#library-container {
  height: 100%;
  width: 100%;
  margin: -20px 0;
}

#library-playlists-container, #home-grid {
    margin: -20px 0;
  }

/* MAIN BUTTONS */
#main-buttons-container {
    position: fixed;
    height: 29px;
    width: calc(100% - 510px);
    left: 510px;
    top: 187px;
}

#btn-playlist-playAll {
    background-color: var(--dark);
    color: var(--light);
    border: none;
    border-radius: 2.5px;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: 100;
    padding: 0 15px;
    margin-left: 10px;
}

#btn-playlist-playAll:hover {
    background-color: var(--theme-primary);
}

/* #btn-playlist-playAll img {
    width: 15px;
    margin: auto;
} */