/* TOP CONTAINER > OVERVIEW > CURRENT TRACK */
#overview-container {
  background-color: var(--dark);
  min-height: 33%;
  max-height: 33%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.overview-artwork {
  display: flex;
  flex-direction: row;
  margin: 30px;
  width: 300px;
  justify-content: center;
}

.overview-artwork>img {
  height: 100%;

  border-radius: 5px 5px 5px 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.overview-track-info {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: start;
}

.overview-track-info :nth-child(1) {
  font-size: 44px;
  font-weight: 700;
}

.overview-track-info :nth-child(2) {
  margin-top: 4px;
  font-size: 22px;
  font-weight: 100;
  padding-left: 4px;

}

.overview-track-info :nth-child(3) {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 100;
  color: var(--mid);
  padding-left: 4px;

}