/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
#top-container-extended {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 230px;
  border-radius: 0 0 15px 15px;
  /* box-shadow: 0 4px 4px 0 rgba(0 0 0 / 25%); */
  padding: 30px;
  padding-left: 60px;
  background-color: var(--dark);
  color: var(--light);
}

.overviewExtended-container {
  min-height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 0.6fr 3fr 1.5fr;
  grid-template-columns: 1fr 1.5fr;
}