#top-container-extended {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 230px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  padding: 30px;
  padding-left: 60px;

  background-color: var(--dark);
  color: var(--light);
}

.overviewExtended-container {
  min-height: 100%;
  max-height: 100%;

  display: grid;

  grid-template-rows: .6fr 3fr 1.5fr;
  grid-template-columns: 1fr 1.5fr;
}

.overviewExtended-container button {
  background-color: transparent;
  border: none;
}

.ovEx-artwork {
  grid-row-start: 1;
  grid-row-end: 3;

  padding-top: 40px;
}

.ovEx-artwork > img {
  height: 100%;
  border-radius: 15px 15px 15px 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ovEx-heading {
  display: flex;
  flex-direction: row;
  align-items: end;
}

#btn-queue,
#btn-track,
#btn-lyrics {
  color: var(--mid-dark);
  height: 40px;
}

#btn-queue:hover {
  color: #FFFFFF;
}

#btn-track:hover {
  color: #FFFFFF;
}

#btn-lyrics:hover {
  color: #FFFFFF;
}

.ovEx-heading > * {
  font-size: 26px;
  font-weight: 800;
  padding-right: 40px;
}

.ovEx-track-info {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.ovEx-track-info :nth-child(1) {
  font-size: 44px;
  font-weight: 700;
}

.ovEx-track-info :nth-child(2) {
  font-size: 22px;
  font-weight: 100;
  padding-left: 4px;
}

.ovEx-track-info :nth-child(3) {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 100;
  padding-left: 4px;
  color: var(--mid);
}

.ovEx-queue {
  display: flex;
  align-items: center;
  overflow-y: auto;
}

.ovEx-track-info {}

.ovEx-queue-info {
  padding-top: 20px;
  border-top: var(--mid-dark) 1px solid;
}

.queue-info-headers {
  font-weight: 800;
  color: var(--mid-dark);
}

/* OVERVIEW EXTENDED > LYRICS */
#ovEx-lyrics-container {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  overflow-y: auto;
}

#ovEx-lyrics {
  font-size: 12px;
  top: 0;
}

#ovEx-metadata-container {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  overflow-y: auto;

}

.track-info-headers {
  font-weight: 800;
}

#ovEx-metadata {}

/* TABLES */

/* th {
  background-color: #ffffff;
  color: rgb(148, 148, 148);
  position: sticky;
  top: 0;
  color: var(--dark);
  text-align: left;
  font-size: 14px;
  padding: 10px;
  border-bottom: rgb(198, 198, 198) 1px solid;
}

td {
  padding: 10px;
} */