/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */

/* BAR CONTAINER */
#playback-container {
  background-color: var(--toggle-bg-3);
  min-height: 100px;
  max-height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 230px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 2px 0 4px 2px rgba(0 0 0 / 25%);
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
}

/* CONTENT CONTAINER */
#bottombarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#bottombarContainer > div {
  background-color: var(--toggle-bg-3);
}

/* SONG INFO */
#infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: var(--toggle-txt-2);

  min-width: 30%;
  max-width: 30%;
}

#playbackArt {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    border-radius: 2.5px;
    margin-right: 10px;
    visibility: hidden;
}

.songInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#songInfo-title {
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#songInfo-artist {
    font-size: 12px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* PLAYBACK CONTROLS */
#playbackContainer {
  /*
  display: flex;
  flex-direction: column;
  */
  /* display: grid;
  grid-template-rows: 4ch 1fr;
  grid-auto-flow: row; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 40%;
  max-width: 40%;

  height: 100%;
}


#controlsContainer {
    /* display: grid; */
  
    /* grid-template-columns: auto auto auto auto auto; */
  
    /* whitespace issue doesnt seem related to container */
    /* grid-template-columns: 4ch 4ch 4ch 4ch 4ch; */

    /* justify-content: space-around; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* column-gap: 20px; */
}

.playbackBtn {
  /* display: block; */
  padding: 0;
  border: none;
  background: none;
  height: 50px;
  width: 50px;
  padding-left: 10px;
  padding-right: 20px;

}

.mainControls  {
  width: 30px;
  fill: var(--toggle-playback);
}

.playbackBtn img  {
    width: 20px;
    height: 20px;
    padding-left: 4px;
    padding-bottom: 4px;
}

#loop-btn svg, #shuffle-btn svg {
    width: 25px;
}




/*
.audioIcons {
  height: 100%;
  width: 100%;
}
*/

/*
.otherControls {
  fill: var(--theme-primary);
  fill: #C4C4C4;
}
*/

.timestamps {
  color: var(--mid);
  margin: 4px;

  font-size: 10px;

  /* margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}

#progressContainer {
  /* display: grid;
  grid-template-columns: 6ch 60ch 6ch; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  height: 15px;
  width: 100%;
}

/*
.progressBar {
  display: flex;
  align-items: center;
  background-color: #C4C4C4;
  border-radius: 5px;
  padding: 1px;
  height: 6px;
  width: 100%;
}

.progressBar > div {
  background-color: var(--theme-primary);
  width: 50%;
  height: 8px;
  border-radius: 10px;
}
*/

input#progressBar {
    height: 5px;
    width: 100%;
}

/* VOLUME + QUEUE CONTAINER */
#audioContainer {
  /* display: grid; */
  /* grid-template-columns: 3ch 12ch 4ch;
  grid-template-rows: 2ch; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  min-width: 30%;
  max-width: 30%;
  height: 100%;
}

#audioContainer > img {
    margin-right: 5px;
}

/* Pretty sure Electron is Chrominum-based */
.fader {
  overflow: hidden; /* This is key so that box shadow appears as fill */
  appearance: none;
  outline: none;
  height: 2vmin;
  border-radius: 1vmin;
  background: var(--mid); /* slider 'container' color */
}

#audio-fader {
  width: 90px;
  height: 5px;
}

/*
#volume::-webkit-slider-runnable-track {
  height: 10px;
  appearance: none;
  color: #13bba4;
  margin-top: -1px;
}
*/

.fader::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  width: 0;
  height: 0;
  background: var(--mid);                 /* thumb color */
  border-radius: 80%;

  /* box-shadow: -220px 0 0 220px var(--theme-primary);  'fill' color */
  box-shadow: -220px 0 0 220px var(--theme-primary);  /* Testing with global theme variable */
}

#playlists-bottom-btn {
  margin: 0 0 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

