/* stylelint-disable selector-id-pattern */
#playlistManage-header {
    margin-bottom: 20px;
}

#playlistManage-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#playlist-create-container,
#playlist-add-container {
  display: flex;
  flex-direction: row;
  height: 24px;
  width: 100%;
  margin-bottom: 15px;
}

#input-playlist-create {
  min-height: 100%;
  border: none;
  border-radius: 2.5px;
  padding-left: 10px;
  font-size: 11px;
  color: var(--mid-dark);
  width: 100%;
  margin-right: 10px;
}

#input-playlist-create::placeholder {
  font-size: 11px;
  color: var(--mid-dark);
}

#select-playlist-add {
  border: none;
  width: 100%;
  min-height: 100%;
  font-size: 11px;
  border-radius: 2.5px;
  color: var(--mid-dark);
  font-family: Roboto, sans-serif;
  font-weight: 100;
  padding-left: 5px;
  margin-right: 10px;
}

#selected-playlists-title {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}

#btn-playlist-create,
#btn-playlist-add,
#btn-playlist-delete,
#btn-playlist-special,
#btn-playlist-remove-selection {
  border: none;
  border-radius: 2.5px;
  background-color: rgba(0 0 0 / 80%);
  box-shadow: inset 0 4px 4px rgba(0 0 0 / 1.5%);
  min-width: 90px;
  min-height: 24px;
  color: var(--mid-light);
  font-size: 11px;

  /* padding: 8px 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-playlist-delete,
#btn-playlist-remove-selection {
  margin: 0;
}

#btn-playlist-create:hover,
#btn-playlist-add:hover,
#btn-playlist-delete:hover,
#btn-playlist-remove-selection:hover {
    background-color: var(--theme-primary);
}

#playlist-remove-delete-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#selected-playlists-container {
  background-color: var(--light);

  /* min-height: 75px; */
  height: 100%;
  max-width: 100%;
  border-radius: 2.5px;
  color: var(--mid-dark);
  margin-bottom: 10px;
  overflow-y: auto;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 100;
}

.playlist-manager-row,
.playlist-manager-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.playlist-manager-header {
  font-weight: 800;
  color: var(--theme-primary);
  margin-bottom: 5px;
}

.playlist-manager-row div,
.playlist-manager-header div {
  /* width: 100px; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
}
