#queueManage-main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

#queueManage-header {
    margin-bottom: 20px;
}
  
#queue-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.queue-track {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    font-size: 11px;
    margin-bottom: 5px;
    border-radius: 4px;
    user-select: none;

}

.queue-track-active {
    background-color: rgb(0, 0, 0, 0.45);
}

.queue-track:hover {
    background-color: rgb(0, 0, 0, 0.25);
}

.queue-track-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.icon-currPlaying {
    width: 20px;
    visibility: hidden;
}

.icon-currPlaying-active {
    visibility: visible;
}

.icon-currPlaying-delete {
    width: 10px;
}

.queue-track-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.queue-track-data-title {
    color: var(--light);
    margin-bottom: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.queue-track-data-artist-album {
    color: var(--mid);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.queue-track-duration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.queue-track-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.queue-track-delete button {
    background-color: transparent;
    border: none;
    color: var(--mid);
}

#queue-empty-message {
    color: var(--mid);
}

#btn-queue-clear {
    border: none;
    border-radius: 2.5px;
    background-color: rgba(0 0 0 / 80%);
    box-shadow: inset 0 4px 4px rgba(0 0 0 / 1.5%);
    width: 90px;
    height: 24px;
    min-height: 24px;

    color: var(--mid-light);
    font-size: 11px;
  
    /* padding: 8px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#btn-queue-clear:hover {
    background-color: var(--theme-primary);
}