/* SIDEBAR */
#sidebar-container {
  
  position: fixed;
  left: 0;
  min-width: 230px;
  max-width: 230px;
  height: 100%;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.25);

  /* background: linear-gradient(19deg, rgba(7, 34, 87, 1) 0%, rgba(59, 107, 129, 1) 51%, rgba(125, 59, 118, 1) 100%); */
  /* background: linear-gradient(10deg, #749ba7 0%, #58707d 50%, #37657a 100%); */
  /* background: linear-gradient(10deg, #b62727ad 0%, #2c597f 100%); */
  /* background: linear-gradient(19deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */

  /* background-color: #567c87; */

  /* background-color: var(--theme-primary); */
  /* background-image: url(../img/sidebar-bg.png); */
  
  background-image: linear-gradient(19deg, var(--theme-secondary) 0%, var(--theme-primary) 100%);

  white-space: nowrap;
  overflow: hidden;
}

#logo {
  width: 80%;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25)); */
}


.sidebar-icon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: start;
  height: 40px;
}

.sidebar-icon-btn:hover {
  background-color: rgba(0, 0, 0, .20);
  transition: 300ms;
}

.sidebar-btn-active {
  background-color: rgba(0, 0, 0, .40);
  transition: 300ms;
}

.icon-sidebar {
  height: 24px;
  position: fixed;
  margin-left: 45px;
  /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25)); */
}

.btn-sidebar,
.btn-sidebar-sm {
  background: transparent;
  width: 100%;
  height: 100%;
  color: var(--light);
  border: none;

  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  padding-left: 90px;
}

.btn-sidebar-sm {
  font-size: 12px;
  padding-left: 110px;
}

/* TEMP COLOR THEME PICKER */
#btn-theme-color-primary {
  font-size: 10px;
  position: fixed;
  left: 15px;
  bottom: 70px;
  width: 200px;
  height: 50px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, .40);
  border-radius: 5px;
}

#btn-theme-color-primary:hover {
  background-color: rgba(0, 0, 0, .60);
  transition: 300ms;
}

#btn-theme-color-secondary {
  font-size: 10px;
  position: fixed;
  left: 15px;
  bottom: 10px;
  width: 200px;
  height: 50px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, .40);
  border-radius: 5px;
}

#btn-theme-color-secondary:hover {
  background-color: rgba(0, 0, 0, .60);
  transition: 300ms;
}
