/* stylelint-disable selector-id-pattern */
/* stylelint-disable import-notation */

/* @import "gridjs.css"; */
@import "customGridjs.css";
@import "main.css";
@import "sidebar.css";
@import "playback.css";
@import "mainHeader.css";
@import "overview.css";
@import "overviewExtended.css";
@import "searchbar.css";
@import "search.css";
@import "library.css";
@import "metaEditor.css";
@import "settings.css";
@import "home.css";
@import "playlistManager.css";
@import "queueViewer.css";


:root {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 100;

    --theme-primary: #67878e;
    --theme-secondary: #67878e;
    --dark: #1f1f1f;
    --light: #fff;
    --mid-light: #dbdbdb;
    --mid: #c4c4c4;
    --mid-dark: #767676;
}

/* tool to reveal div borders for formatting purposes */

/* .vis {
  background: steelblue;
  color: white;
  border: white 1px solid;
} */

/* GENERAL */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#user-feedback {
    display: none;
    position: fixed;
    bottom: 120px;
    left: calc(50vw - 200px + 230px);
    box-shadow: 2px 4px 8px 0 rgba(0 0 0 / 25%);
    height: 50px;
    width: 175px;
    border-radius: 5px;
    background-color: var(--theme-primary);
    color: var(--light);

    display: flex;
    justify-content: center;
    align-items: center;

    /* opacity: 1;
    animation: fade 3s linear; */
}

/* @keyframes fade {
    0%, 100% { opacity: 0 }
    50% { opacity: 1 }
  } */

/* SCROLL BARS */
::-webkit-scrollbar {
    border: none;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mid-light);
    border-radius: 10px;
}

/* TOP CONTAINER */
#top-container {
    top: 100px;
    position: fixed;
    left: 230px;
    width: calc(100% - 230px);
    height: calc(100% - 220px);
    display: flex;
    flex-direction: column;
}

#mainMeta-container {
    padding: 0 30px;
    height: calc(100% - 87px);
    display: grid;
    grid-template-columns: 1fr 0fr;

    /* column-gap: 30px; */
}

/* PLAYLIST MANAGER + META EDITOR */
#editor-container {
    border-radius: 5px;
    padding: 30px;
    background-color: var(--dark);
    color: var(--light);
    overflow-y: auto;
    width: 20vw;
    margin-left: 10px;
}

/* HIDDEN GRID FOR SEARCHING */
#hidden-search-grid {
    height: 0;
    width: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
}