@import "sidebar.css";
@import "playback.css";
@import "mainHeader.css";
@import "overview.css";
@import "overviewExtended.css";
@import "searchbar.css";
@import "search.css";
@import "library.css";

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 100;

  --theme: #9e5353;
  --dark: #1F1F1F;
  --light: #FFFFFF;
  --mid: #C4C4C4;
  --mid-dark: #767676;
}

/* tool to reveal div borders for formatting purposes */
/* .vis {
  background: steelblue;
  color: white;
  border: white 1px solid;
} */

/* GENERAL */

body {
  display: flex;
  flex-direction: row;

  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: var(--light);
}


/* TOP CONTAINER */
#top-container {
  color: var(--light);

  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 230px;
}

/* MAIN CONTAINER */
#main-container {
  color: var(--mid-dark);

  overflow-y: auto;
  margin-top: 37vh;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;

  margin-bottom: 110px;
  margin-left: 230px;
}


/* This is just for testing settings.html*/
/*
.settings-container{
  background-color: red;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}*/