/* @import "gridjs.css"; */
@import "customGridjs.css";
@import "main.css";
@import "sidebar.css";
@import "playback.css";
@import "mainHeader.css";
@import "overview.css";
@import "overviewExtended.css";
@import "searchbar.css";
@import "search.css";
@import "library.css";
@import "metaEditor.css";
@import "settings.css";
@import "home.css";


:root {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 100;

  --theme: #5f7cc0;
  --dark: #1F1F1F;
  --light: #FFFFFF;
  --mid: #C4C4C4;
  --mid-dark: #767676;
}

/* tool to reveal div borders for formatting purposes */
/* .vis {
  background: steelblue;
  color: white;
  border: white 1px solid;
} */

/* GENERAL */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* TOP CONTAINER */
#top-container {
  position: fixed;
  left: 230px;
  width: calc(100% - 230px);
  height: calc(100% - 120px);

  display: flex;
  flex-direction: column;
}

#mainMeta-container {
  padding: 0 30px;
  height: 58%;

  display: grid;
  grid-template-columns: 1fr 0fr;
  /* column-gap: 30px; */
}


/* This is just for testing settings.html*/
/*
.settings-container{
  background-color: red;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}*/