<!-- Main Header -->
<!-- Default Header is Home -->
<div id="main-header">
  <h1>Home</h1>
</div>

<!-- Function Buttons -->
<div id="main-buttons-search">

  <!-- Select Mode -->
  <!-- <button id="btn-select" type="submit">Select: On</button> -->

  <!-- Create playlist -->
  <label for="playlist-create-input"></label><input id="playlist-create-input" type="text"
                                                    placeholder="Name new playlist...">
  <input id="btn-playlist-create" type="submit">
  <label id="btn-playlist-create-label" for="btn-playlist-create">Create Playlist</label>

  <!-- Add to playlist -->
  <label for="playlist-add"></label><select name="add-ply" id="playlist-add"
>
    <option value="" disabled selected>Add to playlist...</option>
    <option value="select-playlist-1">Summer Mix</option>
    <option value="select-playlist-2">Monday Songs</option>
    <option value="select-playlist-3">Fav Karaoke</option>
  </select>
  <button id="btn-playlist-add" type="submit">Add to Playlist</button>

  <!-- Views -->
  <!-- <select name="views" id="btn-view">
    <option value="">Views</option>
    <option value="drop-track-num">#</option>
    <option value="drop-title">Title</option>
    <option value="drop-artist">Artist</option>
    <option value="drop-album">Album</option>
    <option value="drop-genre">Genre</option>
    <option value="drop-year">Year</option>
    <option value="drop-duration">Duration</option>
    <option value="drop-playlist">Playlist</option>
    <option value="drop-tag">Tag</option>
  </select> -->

  <!-- Metadata Editor -->
  <button id="btn-meta" type="submit">Edit</button>

  <!-- Add File -->
  <input id="btn-file" type="file" multiple>
  <label id="btn-file-label" for="btn-file">Add to Library</label>

</div>