<div id="main-header">
  <h1>Home</h1>
</div>
<div id="main-buttons-search">

  <!-- Select Mode -->
  <button id="btn-select" type="submit">Select: On</button>

  <!-- Create playlist -->
  <form id="playlist-create" action="#" name="create-ply">
    <input type="text" name="cplaylist" value="Create playlist...">
    <input id="btn-playlist-create" type="submit" value="Create">
  </form>

  <!-- Add to playlist -->
  <select name="add-ply" id="select-playlist-add">
    <option value="">Add to playlist...</option>
    <option value="select-playlist-1">Playlist 1</option>
    <option value="select-playlist-2">Playlist 2</option>
    <option value="select-playlist-3">Playlist 3</option>
  </select>
  <button id="btn-playlist-add" type="submit">Add</button>

  <!-- Views -->
  <select name="views" id="btn-view">
    <option value="">Views</option>
    <option value="drop-track-num">#</option>
    <option value="drop-title">Title</option>
    <option value="drop-artist">Artist</option>
    <option value="drop-album">Album</option>
    <option value="drop-genre">Genre</option>
    <option value="drop-year">Year</option>
    <option value="drop-duration">Duration</option>
    <option value="drop-playlist">Playlist</option>
    <option value="drop-tag">Tag</option>
  </select>

  <!-- Metadata Editor -->
  <button id="btn-meta" type="submit">Meta</button>

  <!-- Add File -->
  <button id="btn-file" type="submit">+</button>



</div>