<!-- Main Header -->
<!-- Default Header is Home -->
<div id="main-header">
  <h1>Home</h1>
</div>

<!-- Function Buttons -->
<div id="main-buttons-search">

  <!-- Select Mode -->
  <!-- <button id="btn-select" type="submit">Select: On</button> -->

  <!-- Create playlist -->
  <form id="playlist-create">
    <input id="playlist-create-input" type="text"
      placeholder="Create new playlist...">
    <input id="btn-playlist-create" type="submit">
  </form>

  <!-- Add to playlist -->
  <select name="add-ply" id="playlist-add"
    aria-placeholder="Add to playlist...">
    <option value="" disabled selected>Add to playlist...</option>
    <option value="select-playlist-1">Summer Mix</option>
    <option value="select-playlist-2">Monday Songs</option>
    <option value="select-playlist-3">Fav Karaoke</option>
  </select>
  <button id="btn-playlist-add" type="submit">Add</button>

  <!-- Views -->
  <!-- <select name="views" id="btn-view">
    <option value="">Views</option>
    <option value="drop-track-num">#</option>
    <option value="drop-title">Title</option>
    <option value="drop-artist">Artist</option>
    <option value="drop-album">Album</option>
    <option value="drop-genre">Genre</option>
    <option value="drop-year">Year</option>
    <option value="drop-duration">Duration</option>
    <option value="drop-playlist">Playlist</option>
    <option value="drop-tag">Tag</option>
  </select> -->

  <!-- Metadata Editor -->
  <button id="btn-meta" type="submit">Edit</button>

  <!-- Add File -->
  <form id="file-add">
    <input id="btn-file" type="file" multiple>
  </form>

</div>