<div id="metaEdit-header">
    <div>METADATA</div>
</div>

<div id="metaEdit-main">

    <!-- EXAMPLE KEYS/VALUES TABLE -->
    <!-- TODO: replace with gridJS, add functionality to be able to edit fields -->

    <table id="metaEdit-table">

        <tr>
            <th id="metaEdit-num-key">Track Number</th>
            <td id="metaEdit-num-value">3</td>
        </tr>

        <tr>
            <th id="metaEdit-title-key">Title</th>
            <td id="metaEdit-title-value">Don't Start Now</td>
        </tr>

        <tr>
            <th id="metaEdit-artist-key">Artist</th>
            <td id="metaEdit-artist-value">Dua Lipa</td>
        </tr>

        <tr>
            <th id="metaEdit-album-key">Album</th>
            <td id="metaEdit-album-value">Future Nostalgia</td>
        </tr>

        <tr>
            <th id="metaEdit-year-key">Year</th>
            <td id="metaEdit-year-value">2020</td>
        </tr>

        <tr>
            <th id="metaEdit-genre-key">Genre</th>
            <td id="metaEdit-genre-value">Dance, Pop</td>
        </tr>

        <tr>
            <th id="metaEdit-playlists-key">Playlists</th>
            <td id="metaEdit-playlists-value">Monday Songs, Summer Mix</td>
        </tr>

        <tr>
            <th id="metaEdit-tags-key">Tags</th>
            <td id="metaEdit-tags-value">Summer, Party</td>
        </tr>

    </table>


</div>

<div id="metaEdit-save">
    <button id="btn-metaEdit-save" type="button">SAVE</button>
</div>