<!-- Current Track (left) -->
<div class="vis" id="current">

  <div class="vis" id="current-artwork">
    <img id="artwork" src="../img/artwork.webp" alt="Album Artwork">
  </div>

  <div class="vis" id="current-info">
    <div>
      <h1>Don't Stop Now</h1>
    </div>
    <div>Dua Lipa</div>
    <div>Future Nostalgia</div>
  </div>

</div>

<!-- Search Bar/Settings (right) -->
<div id="search">
  
  <input id="search-bar" type="text" placeholder="Search...">
  
  <div>
    <div>
      <img id="btn-settings" src="../img/settings-icon.png" alt="track art">
    </div>
  </div>
  
</div>