<div class="overviewExtended-container vis">

  <!-- Current Track Album Art -->
  <div class="vis ovEx-artwork">
    <img id="currArtwork" src="../img/sampleData/artwork-DuaLipa.webp" alt="Album Art">
  </div>

  <!-- Overview Extended Navigation -->
  <div class="vis ovEx-heading">
    <button class="btn-overview vis" id="btn-queue" type="submit">Queue</button>
    <button class="btn-overview vis" id="btn-track" type="submit">Track</button>
    <button class="btn-overview vis" id="btn-lyrics"
      type="submit">Lyrics</button>
  </div>

  <!-- Overview Extended Content -->
  <div class="vis" id="ovEx-content-container"></div>

  <!-- Current Track Info -->
  <div class="vis ovEx-track-info">
    <div id="currTrack">Don't Start Now</div>
    <div id="currArtist">Dua Lipa</div>
    <div id="currAlbum">Future Nostalgia</div>
  </div>

  <!-- Current Queue Info -->
  <div class="vis ovEx-queue-info">

    <div>
      <table>
          <tr>
            <th>Tracks</th>
            <td>11</td>
          </tr>
          <tr>
            <th>Duration</th>
            <td>47:05</td>
          </tr>
          <tr>
            <th>Tags</th>
            <td>Dance, Pop, Chill, Summer</td>
          </tr>
      </table>
    </div>

  </div>

</div>