<div id="playlistManage-main">
    <div id="playlistManage-header">
        <div>Playlist Manager</div>
    </div>

    <!-- Create playlist -->
    <input id="input-playlist-create" type="text"
        placeholder="Create a new playlist...">
    <input id="btn-playlist-create" type="submit" value="Create a Playlist">

    <!-- Add to playlist -->
    <select name="select-playlist-add" id="select-playlist-add">
        <option value="" selected disabled>Choose a playlist...</option>
    </select>

    <div id="playlists-add-selected-container">
        <div id="selected-playlists-title">Current selection:</div>
        <input id="btn-playlist-add" type="submit" value="Add to Playlist">
    </div>

    <div id="selected-playlists-container"></div>

    <div id="playlist-remove-delete-container">
        <button id="btn-playlist-remove-selection" type="submit">Remove
            Selected</button>
        <button id="btn-playlist-delete" type="submit">Delete Playlist</button>
    </div>

</div>