<div id="playlistManage-main">
    <div id="playlistManage-header">
        <div>Playlist Manager</div>
    </div>

    <!-- Create playlist -->
    <div id="playlist-create-container">
        <input id="input-playlist-create" type="text"
            placeholder="New playlist name...">
        <input id="btn-playlist-create" type="submit" value="Create Playlist">
    </div>


    <!-- Add to playlist -->
    <div id="playlist-add-container">
        <select name="select-playlist-add" id="select-playlist-add">
            <option value="" selected disabled>Select a playlist...</option>
        </select>
        <input id="btn-playlist-add" type="submit" value="Add to Playlist">
    </div>

    <div id="selected-playlists-title">Selection Preview:</div>


    <div id="selected-playlists-container"></div>

    <div id="playlist-remove-delete-container">
        <button id="btn-playlist-remove-selection" type="submit">Clear</button>
        <button id="btn-playlist-delete" type="submit">Delete Playlist</button>
        <button id="btn-playlist-special" type="submit">???</button>
    </div>

</div>