<!-- NOW PLAYING -->
<div id="playback-current">

  <!-- Album Artwork -->
  <div id="playback-artwork-container">
    <img src="../img/artwork.webp" alt="volume icon">
  </div>

  <!-- Track Info -->
  <div id="playback-info-container">
    <div>Don't Start Now</div>
    <div>Dua Lipa</div>
  </div>

</div>

<!-- PLAYBACK CONTROLS -->
<div id="playback-controls">

  <!-- Audio Source -->
  <audio src="" id="audio"></audio>

  <!-- Playback Buttons -->
  <div>
    <button class="btn-playback-action" id="playback-shuffle"><img
        src="../img/icons/playback/shuffle.png" alt="shuffle icon"></button>
    <button class="btn-playback-action" id="playback-prev"><img
        src="../img/icons/playback/prev.png" alt="previous icon"></button>
    <button class="btn-playback-action" id="playback-play"><img
        src="../img/icons/playback/play.png" alt="play icon"></button>
    <button class="btn-playback-action" id="playback-next"><img
        src="../img/icons/playback/next.png" alt="next icon"></button>
    <button class="btn-playback-action" id="playback-repeat"><img
        src="../img/icons/playback/repeat.png" alt="repeat icon"></button>
  </div>

  <div id="progress-container">
    <!-- Current Progress -->
    <div id="progress-current">1:08</div>



    <!-- Progress Bar -->

    <!-- <div id="progress-bar-container">
      <div id="progress-bar"></div>
    </div> -->

    <input type="range" id="progress-bar" value="50" min="0" max="100" step="1">

    <!-- Track Duration -->
    <div id="progress-duration">2:50</div>
  </div>

</div>

<!-- VOLUME -->
<div id="playback-volume">

  <!-- Volume Icon -->
  <img id="icon-volume" src="../img/icons/playback/unmuted.png"
    alt="volume icon">

  <!-- Volume Fader -->
  <input type="range" id="volume-fader" value="50" min="0" max="100" step="1">

</div>