<!-- Primary Buttons -->
<div id="sidebar-btn-container-home" class="sidebar-icon-btn">
  <img class="icon-sidebar" src="../img/icons/sidebar/home.png" alt="home icon">
  <button class="btn-sidebar vis" id="btn-home" type="button">Home</button>
</div>

<!-- <div id="sidebar-btn-container-nowPlaying" class="sidebar-icon-btn">
  <img class="icon-sidebar" src="../img/icons/sidebar/nowPlaying.png"
    alt="sidebar icon">
  <button class="btn-sidebar vis" id="btn-overview" type="submit">Now
    Playing</button>
</div> -->

<!-- Library -->
<div id="sidebar-btn-container-library" class="sidebar-icon-btn">
  <img class="icon-sidebar" src="../img/icons/sidebar/library.png"
    alt="library icon">
  <button class="btn-sidebar vis" id="btn-library"
    type="submit">Library</button>
</div>

<!-- Playlists -->
<div id="sidebar-btn-container-playlists" class="sidebar-icon-btn">
  <img class="icon-sidebar" src="../img/icons/sidebar/playlists2.png"
    alt="playlists icon">
  <button class="btn-sidebar vis" id="btn-playlists"
    type="submit">Playlists</button>
</div>
