<!-- Logo -->
<img id="logo" src="../img/icons/sidebar/logo.png" alt="Mixmatch Logo">

<!-- Primary Buttons -->
<div id="sidebar-btn-container-home" class="sidebar-icon-btn">
  <img class="icon-sidebar" src="../img/icons/sidebar/home.png" alt="home icon">
  <button class="btn-sidebar vis" id="btn-home" type="button">Home</button>
</div>

<div id="sidebar-btn-container-nowPlaying" class="sidebar-icon-btn">
  <img class="icon-sidebar" src="../img/icons/sidebar/nowPlaying.png" alt="sidebar icon">
  <button class="btn-sidebar vis" id="btn-overview" type="submit">Now
    Playing</button>
</div>


<!-- Library + Secondary Buttons -->
<div id="sidebar-btn-container-library" class="sidebar-icon-btn">
  <img class="icon-sidebar" src="../img/icons/sidebar/library.png" alt="library icon">
  <button class="btn-sidebar vis" id="btn-library"
    type="submit">Library</button>
</div>

<div id="sidebar-btn-container-artists" class="sidebar-icon-btn">
  <button class="btn-sidebar-sm vis" id="btn-library-artists"
    type="submit">Artists</button>
</div>

<div id="sidebar-btn-container-albums" class="sidebar-icon-btn">
  <button class="btn-sidebar-sm vis" id="btn-library-albums"
    type="submit">Albums</button>
</div>

<div id="sidebar-btn-container-genres" class="sidebar-icon-btn">
  <button class="btn-sidebar-sm vis" id="btn-library-genres"
    type="submit">Genres</button>
</div>

<div id="sidebar-btn-container-tags" class="sidebar-icon-btn">
  <button class="btn-sidebar-sm vis" id="btn-library-tags"
    type="submit">Tags</button>
</div>


<!-- Playlist + Secondary Buttons -->
<div id="sidebar-btn-container-playlists" class="sidebar-icon-btn">
  <img class="icon-sidebar" src="../img/icons/sidebar/playlists.png" alt="playlists icon">
  <button class="btn-sidebar vis" id="btn-playlists"
    type="submit">Playlists</button>
</div>

<div class="sidebar-icon-btn">
  <button class="btn-sidebar-sm vis" id="btn-playlist1-sm" type="submit">Playlist1</button>
</div>

<div class="sidebar-icon-btn">
  <button class="btn-sidebar-sm vis" id="btn-playlist2-sm"
    type="submit">Playlist2</button>
</div>

<div class="sidebar-icon-btn">
  <button class="btn-sidebar-sm vis" id="btn-playlist3-sm"
    type="submit">Playlist3</button>
</div>