<!-- Logo -->
<!-- <div class="logo">mixmatch</div> -->
<img id="logo" src="../img/logo.png" alt="Mixmatch Logo">

<!-- Main Buttons -->
<button class="btn-sidebar vis" id="btn-home" type="button">Home</button>
<button class="btn-sidebar vis" id="btn-current" type="submit">Now Playing</button>
<button class="btn-sidebar vis" id="btn-library" type="submit">Library</button>

<!-- Library Sub Buttons -->
<button class="btn-sidebar-sm vis" id="btn-artists-sm" type="submit">Artists</button>
<button class="btn-sidebar-sm vis" id="btn-albums-sm" type="submit">Albums</button>
<button class="btn-sidebar-sm vis" id="btn-genres-sm" type="submit">Genres</button>
<button class="btn-sidebar-sm vis" id="btn-tags-sm" type="submit">Tags</button>

<!-- Main Button - Playlist + Sub Buttons -->
<button class="btn-sidebar vis" id="btn-playlists" type="submit">Playlists</button>
<button class="btn-sidebar-sm vis" id="btn-playlist1-sm" ype="submit">Playlist1</button>
<button class="btn-sidebar-sm vis" id="btn-playlist2-sm" type="submit">Playlist2</button>
<button class="btn-sidebar-sm vis" id="btn-playlist3-sm" type="submit">Playlist3</button>